//fonts
$google-font:  'https://fonts.googleapis.com/css?family=Ubuntu:400,500';


$baseFontSize: 16px;
$baseFontFamily: 'Ubuntu', sans-serif;
$mediumFontWeight: 500;


$mobilePadding: (12px / $baseFontSize) * 1rem;
$desktopPadding: 1rem;


// Paths

$imagesPath: "../i/"; // Как вставить путь в img?
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";


 // Colors
$black: #000000;
$white: #ffffff;
$green: #A6CE39;
$pink: #EC008C;
$blue: #00AEEF;

