.about{
  padding-bottom: 40px;
  &__title{
    color: $white;
  }
  &__green{
    color: $green;
  }
  &__pink{
    color: $pink;
  }
  &__blue{
    color: $blue;
  }
  &__text_bold{
    font-weight: 700;
  }
  &__box{
    display: flex;
    justify-content: space-around;
  }
  &__left{
    position: relative;
  }
  &__link_5D{
    position: absolute;
    content: '';
    top: 0;
    left: 80px;
    color: $green;
    font-family: 'Bad Script', serif;
    font-size: 1.5rem;
    border-bottom: 1px dotted $green;
    text-decoration: none;
    transition: all 1.5s ease;
  }
  &__link_5D:hover{
    border-bottom:  1px dotted transparent;
  }
  &__link_customers{
    position: absolute;
    content: '';
    bottom: -30px;
    left: 144px;
    color: $green;
    font-family: 'Bad Script', serif;
    font-size: 1.5rem;
    border-bottom: 1px dotted $green;
    text-decoration: none;
    transition: all 1.5s ease;
  }
  &__link_customers:hover{
    border-bottom:  1px dotted transparent;
  }
  &__img{
    position: relative;
    max-width: 504px;
    width: 100%;
    height: auto;
    min-width: 404px;
  }
  &__right{
    max-width: 400px;
    min-width: 350px;
    width: 100%;
    padding: 0 10px;
  }
  &__text{
    color: $white;
    font-family: 'Century Gothic', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  &__link{
    color: $green;
    font-weight: 700;
  }
  &__link:hover{
    text-decoration: none;
  }
}